{{ define "main" }}
  <div class="list-page">
    <h1 class="list-title">{{ .Title }}</h1>

      <ul class="list-entries">
        {{ range .Pages }}
          <li class="list-entry">
            <a class="entry-title", href="{{ .Permalink }}" >{{ .Title }}</a>
            <div class="meta">
              <time datetime="{{ .Date.Format "2006-01-02" }}">
                {{ .Date.Format ($.Site.Params.DateFormat | default "January 2, 2006") }}
              </time>
              {{ if .ReadingTime }}
                <span class="meta-sep">·</span>
                <span>{{ .ReadingTime }} min read</span>
              {{ end }}
            </div>
            {{ with .Summary }}
              <p class="entry-desc">{{ . | plainify | truncate 500 }}</p>
            {{ end }}
            {{ with .Params.tags }}
              <div class="tag-list">
                {{ range . }}
                  <a class="tag" href="{{ "/tags/" | relURL }}{{ . | urlize }}/">{{ . }}</a>
                {{ end }}
              </div>
            {{ end }}
          </li>
        {{ else }}
          <li class="flex flex-row"><p class="text-fg-muted);">No posts yet.</p></li>
        {{ end }}
     </ul>
  </div>
  {{ template "_internal/pagination.html" . }}
{{ end }}
